---
- name: Ensure dependencies are installed
  apt:
    name:
      - ca-certificates
      - curl
    state: present
    update_cache: true

- name: Download otelcol-contrib deb
  get_url:
    url: "https://github.com/open-telemetry/opentelemetry-collector-releases/releases/download/v{{ otel_version }}/otelcol-contrib_{{ otel_version }}_linux_{{ otel_arch }}.deb"
    dest: "/tmp/otelcol-contrib_{{ otel_version }}_linux_{{ otel_arch }}.deb"
    mode: '0644'

- name: Install or upgrade otelcol-contrib
  apt:
    deb: "/tmp/otelcol-contrib_{{ otel_version }}_linux_{{ otel_arch }}.deb"
  notify: Restart otelcol-contrib

- name: Allow otelcol-contrib to read journald
  user:
    name: otelcol-contrib
    groups: systemd-journal
    append: true