
---
- hosts: all
  become: yes
  tasks:

    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Upgrade all packages
      apt:
        upgrade: dist

    - name: Show basic system facts
      debug:
        msg: "Hostname: {{ ansible_hostname }}, OS: {{ ansible_distribution }}"
